@page
@model BookStore1.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Book List";
}


<body>
    <form asp-antiforgery="true" method="post" class="shadow p-4 rounded bg-light"></form>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="mb-4">Book List</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Genre</th>
                            <th>Publisher</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var book in Model.Bookz)
                        {
                            <tr>
                                <td>@book.Title</td>
                                <td>@book.Author</td>
                                <td>@book.Genre</td>
                                <td>@book.Publisher</td>
                                <td>@book.Price.ToString("C", new System.Globalization.CultureInfo("tr-TR"))</td>
                                <td>
                                    <form method="post" asp-page-handler="AddToCart" class="d-inline">
                                        <input type="hidden" name="bookId" value="@book.Id" />
                                        <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <button><a href="/Cart/Cart" class="btn btn-success">Go to Cart</a></button>
                    <button><a href="/Index" class="btn btn-success">Home</a></button>
                    <a asp-controller="Books" asp-action="Create">Create New Book</a>

                </table>
            </div>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
