@page
@model BookStore1.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Book List";
}

<h1>Book List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Bookz)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Price</td>
                <td>@book.Genre</td>
                <td>
                    <form method="post" asp-page-handler="AddToCart">
                        <input type="hidden" name="bookId" value="@book.ID" />
                        <button type="submit" class="btn btn-success">Add to Cart</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
